#!/bin/bash

oc create secret docker-registry syndesis-service-account-pull-secret --docker-server=https://registry.redhat.io --docker-username='<user-service-account>' --docker-password='<user-password>' --docker-email='<user-email>' -n fuse-online
